body {
  margin: 0;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: indianred;
}

.container {
  background-color: rgb(238, 164, 164);
  box-shadow: 0 6px 10px rgba(236, 227, 238, 0.027);
  padding: 30px;
  border-radius: 10px;
  width: 30%;
  margin: 10px;
  text-align: center; /* this will help to become center as mobile device*/
}
.para {
  font-size: 30px;
  font-weight: 600;
}
.btn {
  font-size: 18px;
  border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 300ms ease-in-out;
  color: green;
}
